spring:
  application:
    name: Order Service API
    version: 1.0.0
    description: Order Service API

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  cloud:
    loadbalancer:
      cache:
        enabled: false

  kafka:
    producer:
      bootstrap-servers: "localhost:9092"
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  instance:
    hostname: ${server.hostname}
    instanceId: ${server.hostname}:${server.port}
    metadataMap:
      zone: ${server.zone}
    # client is configured in profile specific as it depends on server configuration


# Resilience4j  Configuration
resilience4j.circuitbreaker:
  configs:
    default:
      registerHealthIndicator: true
      #      Count Based store the last n request and switch circuit to open if failureRate >= threshold
      slidingWindowType: COUNT_BASED
      slidingWindowSize: 10
      failureRateThreshold: 50
      waitDurationInOpenState: 25s
      permittedNumberOfCallsInHalfOpenState: 5

resilience4j.retry:
  configs:
    default:
      maxRetryAttempts: 3
      waitDuration: 500ms
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2

resilience4j.timelimiter:
  configs:
    default:
      timeoutDuration: 5s
      # to make sure that write operation is not cancelled, override for specific instances having read only
      cancelRunningFuture: false

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html